/* 
- Mobile: 375px
- Desktop: 1440px
- Font size: 15px
- Family: [Spartan](https://fonts.google.com/specimen/Spartan)
- Weights: 400, 500, 700 */

:root {
    --magenta: hsl(300, 43%, 22%);
    --soft_pink: hsl(333, 80%, 67%);
    --white: hsl(0, 0%, 100%);
    --dark_gray_magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
body {
    background:  url(images/bg-pattern-top-mobile.svg) top left no-repeat, 
    url(images/bg-pattern-bottom-desktop.svg) bottom right no-repeat; 
    padding: 0;
    margin: 0;
   

}

main {
    max-width: 350px;
    width: 100%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0rem;
    
}

.heading-section h1 {
    color: var(--magenta);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.3rem;
    line-height: 1.6rem;
   
}
.heading-section p {
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.2px;
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
    color: var(--dark_gray_magenta); 

}
.rating-section {
    margin-bottom: 2rem;
    width: 100%;
}
.rating {
    background-color: var(--light-grayish-magenta);
    padding: 0.75rem 2.5rem;
    margin-bottom:0.6rem;
    border-radius: 0.3rem;
    text-align: center;
}
.stars {
    letter-spacing: 0.2rem;
    padding-bottom: 0.5rem;
}
.blurb {
    color: var(--magenta);
    font-size: 0.75rem;
    font-weight: 700;
    opacity: 80%;
    
}
.card {
    background-color: var(--magenta);
    border-radius:0.3rem ;
    margin-bottom: 1rem;
    padding: 2rem 1.5rem;
   
}

.user-heading {
    display: flex;
    margin-bottom: 1.5rem;
    
}
.user-heading img {
    width: 15%;
    margin-right: 1.3rem;
}
.user-heading ul {
    list-style-type: none;
    font-size: 0.8em;
    font-weight: 500;
}
.user-heading ul li:first-child {
    color: white;
    margin-bottom: 0.25rem;
    
}
.user-heading ul li:nth-child(2) {
    color: var(--soft_pink);
    opacity: 60%;
}
.card p {
    color: white;
    opacity: 70%;
    font-size: 0.76rem;
    line-height: 1.3rem;
}
img {
    border-radius: 50%;
    
}


@media (min-width: 1050px) {
    body {
        background:  url(images/bg-pattern-top-desktop.svg) top left no-repeat, 
        url(images/bg-pattern-bottom-desktop.svg) bottom right no-repeat; 
        padding: 0;
        margin: 0;
    }

    main {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;
        margin: 5% auto;
        padding: 0;
        }
        

    .heading-section { 
        display: flex;
        flex-flow: column;
        text-align: left;
        flex-basis: 40%;
    }
    .heading-section h1 {
        text-align: left;
        font-size: 3.5rem;
        margin-bottom: 0.5rem;
        line-height: 3.3rem;
    }
    .heading-section p {
        text-align: left;
        font-size: 1.3rem;
        line-height: 2rem;
        margin-top: 1rem;
    }

    /* Rating Section, rating boxes */

    .rating-section {
        margin-top: 2rem;
        flex-basis: 40%;
        align-items: center;
    
    }
    .rating{
    
        align-items: center;
        padding: 1.2rem 1rem 1.2rem 1.5rem;
        margin-bottom: 1rem;

        justify-content: flex-start;
        text-align: left;
        width: 400px;
        
    
    }

    .stars {
        letter-spacing: 0.2rem;
        padding: 0;
        flex-basis: 30%;
        display: inline-block;
        margin-right: 20px;
        font-size: 1.3rem;
        
        
    }

    .blurb {
        padding: 0;
        margin: 0;
        display: inline-block;
        font-size: 1rem;
    }

    .rating-section .second {
        margin-left: 50px;
    }
    .rating-section .third {
        margin-left: 100px;
    }

    /* review section, card */

    .review-section {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-top: 30px;
        align-items: flex-start;

    }

    .card {
        text-align: left;
        flex-basis: 32%;
        border-radius: 10px;


    }
    .card p {
        font-size: 0.8rem;
        opacity: 60%;
        padding-bottom: 0;
    }
    .card img {
        width: 15%;
        margin-right: 1.3rem;

    }
    .card ul {
        margin-top: 10px;
        font-size: 1rem;
    }

    .irene {
        margin-top:25px;
    }
    .anne {
        margin-top: 50px;
    }

}



