/* 
- Mobile: 375px
- Desktop: 1440px
- Font size: 15px
- Family: [Spartan](https://fonts.google.com/specimen/Spartan)
- Weights: 400, 500, 700 */

:root {
    --magenta: hsl(300, 43%, 22%);
    --soft_pink: hsl(333, 80%, 67%);
    --white: hsl(0, 0%, 100%);
    --dark_gray_magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
html {
    background-image: url(images/bg-pattern-top-mobile.svg);
    background-image: url(images/bg-pattern-bottom-desktop.svg);
}
body {
    background-color: var(--white);
    margin: 20% auto;

}

main {
    max-width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1 {
    color: var(--magenta);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.3rem;
    line-height: 1.6rem;
   
}
.heading-section p {
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.2px;
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
}
.rating-section {
    margin-bottom: 2rem;
}
.rating {
    background-color: var(--light-grayish-magenta);
    padding: 1rem 3rem;
    margin-bottom:0.7rem;
    border-radius: 0.3rem;
    text-align: center;
}
.stars {
    letter-spacing: 0.2rem;
    padding-bottom: 0.5rem;
}
.card {
    background-color: var(--magenta);
    border-radius:0.3rem ;
    margin-bottom: 1rem;
    padding: 2rem;
   
}

.user-heading {
    display: flex;
    margin-bottom: 1.5rem;
    
}
.user-heading img {
    width: 15%;
    margin-right: 1.3rem;
}
.user-heading ul {
    list-style-type: none;
    font-size: 0.8em;
    font-weight: 500;
}
.user-heading ul li:first-child {
    color: white;
    margin-bottom: 0.25rem;
    
}
.user-heading ul li:nth-child(2) {
    color: var(--soft_pink);
    opacity: 60%;
}
.card p {
    color: white;
    font-size: 0.85rem;
    letter-spacing: 0.4px;
    line-height: 1.3rem;

}
p {
    color: var(--dark_gray_magenta); 
}
h2 {
    color: var(--light-grayish-magenta);
}
h3 {
    color: var(--soft_pink);
}
img {
    border-radius: 50%;
    
}
.blurb {
    color: var(--magenta);
    font-size:0.9rem;
    font-weight: 700;
    opacity: 80%;
    
}




